
.barra{
    align-self: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(28, 138, 219);
    border-bottom: 1px black solid;
    box-shadow: 0px 10px 5px rgba(94, 53, 189, 0.336);
    width: 100%;
    z-index: 5;
    margin-bottom: 20px    
}
    
    .logo1{
        padding: 10px;
    }
    .logo{
        height: 80px; width: 80px;
       padding: 5px;
    }
        
    .anclas{
        flex: 1 1 auto;
        padding: 5px;
        width: 60%;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        align-items: flex-start
        
    }
    .anclas-in{
        margin: 5px;
        padding: 5px;
        text-decoration: none;
        text-transform: uppercase;                                               /** seccion enlace **/
        font-size: 20px;
        color: black;
        font-family: Orbitron;
        font-weight: bold;
        letter-spacing: 3px;
    }
    
.anclas-in:hover{
    color: rgb(127, 195, 250);
}

body{
    margin: 0%;
    background-color: #e3e7f1;
}
.main {
    width: 100%;
    min-height: 80px;
    display:flex;
    flex-direction:row;
    height:952px; /* falta corregir */
}

.menuNav{
    position: absolute;
    min-width: 150px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    margin-right: 10px;
}
.content{
    width: 100%;
    margin-left:150px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content>div{
    width: 90%;
    min-height: 100px;
    border: 3px solid black;
    margin: 10px;
    border-radius:15px;
    background-color: #c6cbef;
    box-shadow: 10px 10px 5px rgba(94, 53, 189, 0.336);
}
.content>div>legend>p{
    margin-left: 10px;
}
.texto_materias{
    padding-left: 30px;
}
.texto_novedades{
    padding-left: 30px;
}